@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F3F3F3;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1 {
    font-size: 40px;
    padding: 10px 0;
}

h3 {
    font-weight: 300;
    padding: 10px 0;
}

img.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

em {
  font-style: initial;

}

em a {
  text-decoration: none;
  color: #FF0100
}

em a:hover{
  text-decoration: none;
  color: #FF0100;
  opacity: 70%
}

a.btn-red {
    display: inline-block;
    text-decoration: none;
    background-color: #FF0100;
    padding: 10px;
    margin: auto;
    color: white;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 2px 2px 10px grey;
}

a.btn-red:hover {
    opacity: 70%;
    transition-duration: 0.5s;
}

a.btn-red:active {
    opacity: 70%;
    box-shadow: 2px 2px 2px grey;
}

.container {
    width: 60vw;
    margin: auto;
}

.card {
    padding: 10px;
    margin: 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 20px grey;
}

.list-inline > li {
  list-style: none;
  display: inline-block;
  font-size: 40px
}

.list-inline {
  padding-left: 0;
  padding-top: 10px;
}

.icon-grey {
  color: #80808094;
}

.icon-grey:hover {
  color: #808080;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 60vw;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 70vw;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 90vw;
  }
}
